{% extends 'base.html' %}

{% block content %}


        <!-- partial -->
        {% load static %}
        <div class="flash-news-banner">
          <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <span class="badge badge-dark mr-3">Flash news</span>
                <p class="mb-0">
                  Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s.
                </p>
              </div>
              <div class="d-flex">
                <span class="mr-3 text-danger">Wed, March 4, 2020</span>
                <span class="text-danger">30°C,London</span>
              </div>
            </div>
          </div>
        </div>
        <div class="content-wrapper">
          {% for post in object_list %}
          {% if forloop.counter0 < 1 %}
          <div class="container">
            <div class="row" data-aos="fade-up">
              <div class="col-xl-8 stretch-card grid-margin'">
                <div class="position-relative">
                  {% if post.image %}
                  <img
                    src="{{ post.image.url }}"
                    alt="banner"
                    class="img-fluid"
                  />
                  <div class="banner-content">
                    <div class="badge badge-danger fs-12 font-weight-bold mb-3">
                      global news
                    </div>
                    
                    <h1 class="mb-2">{{ post.title}}
                      Coronavirus Outbreak LIVE Updates: ICSE, CBSE Exams
                      Postponed, 168 Trains
                    </h1>
                    <div class="fs-12">
                      <span class="mr-2">Photo </span>10 Minutes ago
                    </div>
                  </div>
                  {% endif %}
                </div>
                {% endif %}
                {% endfor %}

              </div>
              <div class="col-xl-4 stretch-card grid-margin">
                <div class="card bg-dark text-white">
                  <div class="card-body">
                    <h2>Latest news</h2>
                    {% for post in object_list %}
                    {% if 0 < forloop.counter0 and 4 > forloop.counter0 %}

                    <div
                      class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between"
                    >
                      <div class="pr-3">
                        <h5>{{ post.title }}</h5>
                        <div class="fs-12">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </div>
                      </div>
                      <div class="rotate-img">
                        {% if post.image %}
                        <img
                          src="{{ post.image.url }}"
                          alt="thumb"
                          class="img-fluid img-lg"
                        />
                      </div>
                      {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row" data-aos="fade-up">
              <div class="col-lg-3 stretch-card grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h2>Category</h2>
                    <ul class="vertical-menu">
                      <li><a href="#">Politics</a></li>
                      <li><a href="#">International</a></li>
                      <li><a href="#">Finance</a></li>
                      <li><a href="#">Health care</a></li>
                      <li><a href="#">Technology</a></li>
                      <li><a href="#">Jobs</a></li>
                      <li><a href="#">Media</a></li>
                      <li><a href="#">Administration</a></li>
                      <li><a href="#">Sports</a></li>
                      <li><a href="#">Game</a></li>
                      <li><a href="#">Art</a></li>
                      <li><a href="#">Kids</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 stretch-card grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      {% for post in object_list %}
                      {% if 4 < forloop.counter0 and 9 > forloop.counter0 %}
                      <div class="col-sm-4 grid-margin">
                        <div class="position-relative">
                          <div class="rotate-img">
                            {% if post.image %}
                            <img
                              src="{{ post.image.url }}"
                              alt="thumb"
                              class="img-fluid"
                            />
                          </div>
                          <div class="badge-positioned">
                            <span class="badge badge-danger font-weight-bold"
                              >Flash news</span
                            >
                          </div>
                            {% endif %}
                        </div>
                      </div>
                      <div class="col-sm-8  grid-margin">
                        <h2 class="{% static 'mb-2 font-weight-600'%} ">
                        </h2>
                        <div class="fs-13 mb-2">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </div>
                        <p class="mb-0">
                          <p><h5>{{ post.title }}</h5></p>
                        </p>
                      </div>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>




            <div class="row" data-aos="fade-up">
              <div class="col-sm-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="card-title">
                          Video
                        </div>
                        <div class="row">
                        {% for post in object_list %}
                        {% if 9 < forloop.counter0 and 14 > forloop.counter0 %}
                          <div class="col-sm-6 grid-margin">
                            <div class="position-relative">
                              <div class="rotate-img">
                                {% if post.image %}
                                <img
                                  src="{{ post.image.url }}"
                                  alt="thumb"
                                  class="img-fluid"
                                />
                              </div>
                              <div class="badge-positioned w-90">
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <span
                                    class="badge badge-danger font-weight-bold"
                                    >Lifestyle</span
                                  >
                                  {% endif %}
                                  <div class="video-icon">
                                    <i class="mdi mdi-play"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                                {% endif %}
                                {% endfor %}
                        </div>
                      </div>



                      <div class="col-lg-4">
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                                                {% for post in object_list %}
                        {% if 2 < forloop.counter0 and 4 > forloop.counter0 %}
                          <div class="card-title">
                            {{post.title}}
                            
                          </div>
                          <p class="mb-3">See all</p>
                        </div>
                        <div
                          class="d-flex justify-content-between align-items-center border-bottom pb-2"
                        >
                          <div class="div-w-80 mr-3">
                            <div class="rotate-img">
                              {% if post.image %}
                              <img
                                src="{{ post.image.url }}"
                                alt="thumb"
                                class="img-fluid"
                              />
                            </div>
                            {% endif %}
                          </div>

                          <h3 class="font-weight-600 mb-0">
                            {{post.title}}
                          </h3>
                        </div>
                        <div
                          class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-2"
                        >
                          <div class="div-w-80 mr-3">
                            <div class="rotate-img">
                              {% if post.image %}
                              <img
                                src="{{ post.image.url }}"
                                alt="thumb"
                                class="img-fluid"
                              />
                            </div>
                            {% endif %}
                          </div>
                          <h3 class="font-weight-600 mb-0">
                            {{post.title}}
                          </h3>
                        </div>
                        <div
                          class="d-flex justify-content-between align-items-center pt-3"
                        >
                          <div class="div-w-80 mr-3">
                            <div class="rotate-img">
                              {% if post.image %}
                              <img
                                src="{{ post.image.url }}"
                                alt="thumb"
                                class="img-fluid"
                              />
                            </div>
                            {% endif %}
                          </div>
                          <h3 class="font-weight-600 mb-0">
                            {{post.title}}
                          </h3>
                        </div>
                      </div>
                      {%endif%}
                      {%endfor%}



                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" data-aos="fade-up">
              <div class="col-sm-12">
                <div class="card">
                  
                  <div class="card-body">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="card-title">
                          Sport light
                        </div>
                        <div class="row">

                          <div class="col-xl-6 col-lg-8 col-sm-6">
                            {% for post in object_list %}
                          {% if 0 < forloop.counter0 and 2 > forloop.counter0 %}
                            <div class="rotate-img">{% if post.image %}
                              <img
                                src="{{ post.image.url }}"
                                alt="thumb"
                                class="img-fluid"
                              />
                            </div>
                            <h2 class="mt-3 text-primary mb-2">
                              {{ post.title}}</a>
                            </h2>
                            <p class="fs-13 mb-1 text-muted">
                              <span class="mr-2">Photo </span>10 Minutes ago
                            </p>
                            <p class="my-3 fs-15">
                              Lorem Ipsum has been the industry's standard dummy
                              text ever since the 1500s, when an unknown printer
                              took
                            </p>
                            <a href="#" class="font-weight-600 fs-16 text-dark"
                              >Read more</a
                            > {% endif %}
                          {% endif %}
                          {% endfor %}
                          </div>



                          
                          <div class="col-xl-6 col-lg-4 col-sm-6">
                            {% for post in object_list %}
                          {% if 0 < forloop.counter0 and 6 > forloop.counter0 %}
                            <div class="border-bottom pb-3 mb-3">
                              <h3 class="font-weight-600 mb-0">
                                ">{{ post.title}}</a>
                              </h3>
                              <p class="fs-13 text-muted mb-0">
                                <span class="mr-2">Photo </span>10 Minutes ago
                              </p>
                              <p class="mb-0">
                                Lorem Ipsum has been the industry's
                              </p>
                            </div>
                                      {% endif %}
                   {% endfor %}
                          </div>
                                 
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="row">
                          <div class="col-sm-6">
                            
                            <div class="card-title">
                              Sport light
                            </div>{% for post in object_list %}
                          {% if 0 < forloop.counter0 and 4 > forloop.counter0 %}
                            <div class="border-bottom pb-3">
                              <div class="rotate-img">{% if post.image %}
                                <img
                                  src="{{ post.image.url }}"
                                  alt="thumb"
                                  class="img-fluid"
                                />
                              </div>
                              <p class="fs-16 font-weight-600 mb-0 mt-3">
                               {{ post.title}}</a>
                              </p>
                              <p class="fs-13 text-muted mb-0">
                                <span class="mr-2">Photo </span>10 Minutes ago
                              </p>
                            </div>
                           
                            {% endif %}
                      {% endif %}

                      {% endfor %}
                          </div>
                          <div class="col-sm-6">
                            <div class="card-title">
                              Celebrity news
                            </div>
                            <div class="row">
                              {% for post in object_list %}
                          {% if 0 < forloop.counter0 and 5 > forloop.counter0 %}
                              <div class="col-sm-12">
                                <div class="border-bottom pb-3">
                                  <div class="row">
                                    <div class="col-sm-5 pr-2">
                                      <div class="rotate-img">{% if post.image %}
                                        <img
                                          src=" {{ post.image.url }}"
                                          alt="thumb"
                                          class="img-fluid w-100"
                                        />
                                      </div>
                                    </div>
                                    <div class="col-sm-7 pl-2">
                                      <p class="fs-16 font-weight-600 mb-0">
                                        {{ post.title}}</a>
                                      </p>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                               {% endif %}
                      {% endif %}
                   {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endblock content %}



 